

.armor_and_shield {

  position: relative;
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 25% 25%;

  padding: .4rem;
  font-size: 1.2rem;
  
  z-index: 1;
  
  /*.txt_label {
    text-align: center;
  }
  .txt_input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
  }*/
}