

.armor_and_shield {

  position: relative;
  width: 100%;

  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 54% 20% 20%;
  gap: 2%;

  padding: .5rem 1rem;
  font-size: .8rem;
  text-align: center;
  
  z-index: 1;
  
  .columns {
    display: grid;
    grid-template-rows: 20% 38% 38%;
    gap: 4%;

    .title.-name {
      font-size: 1rem;
    }
    .txt_input.-armor_and_shield {
      font-size: 1.4rem;
      border-bottom: #000 2px solid;
    }
  }
}