/*================ Default ======================*/
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; }
h1, h2, h3, p { padding: 0; margin: 0; }
label { display: block; }
li { list-style: none; padding: 0; display: inline; }
ul { padding: 0; margin: 0}
button { border-style: none; cursor: pointer; }
button:focus { border-color: rgb(107, 107, 107); }
input, textarea { border-style: none; }
input, button, select, textarea { font-family: inherit; font-size: inherit; }

/*=======================================*/



@font-face {
  font-family: 'Tormenta20';
  src: url('./font/Tormenta.ttf');
}

:root { 
  font-size: 10px;
  font-family: Quattrocento Sans, sans-serif;

  /* ======== Variaveis Default ======== */
  --color-font-default: rgb(23, 23, 23);

  --color-background-default: rgb(54, 54, 54);
  --color-fill-default: #00a98a;
  --color-stroke-default: rgb(23, 23, 23);
  --color-input-default: rgba(0, 0, 0, 0.15);
  --color-input-selected-default: rgb(0, 234, 164);
  --color-alert-default: rgb(172, 0, 0);

  

  --color-icon-light: rgb(222, 222, 222);
  --color-icon-dark: rgb(23, 23, 23);

  /* ======== Variaveis dark ======== */
  /*--color-font-dark: rgb(23, 23, 23);

  --color-background-dark: rgb(54, 54, 54);
  --color-input-dark: rgba(0, 0, 0, 0.2);
  --color-alert-dark: rgb(172, 0, 0);
  --color-fill-dark: #00a98a;
  */
  
  /* ======== Variaveis ======== */
  --color-font: var(--color-font-default);

  --color-background: var(--color-background-default);
  --color-fill: var(--color-fill-default);
  --color-stroke: var(--color-stroke-default);
  --color-input: var(--color-input-default);
  --color-input-selected: var(--color-input-selected-default);
  --color-alert: var(--color-alert-default);

  --color-icon: var(--color-icon-light);

}

/*================= Global ====================*/
body {
  background-color: var(--color-background);
  color: var(--color-font);

  display: flex;
  justify-content: center;

}

label { text-align: center; }

