/*==================== Global =========================*/
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: border-box; }
body { margin: 0; }
h1, h2, h3, p { padding: 0; margin: 0; }
label { display: block; }
li { list-style: none; padding: 0; display: inline; }
ul { padding: 0; margin: 0}
button { border-style: none; cursor: pointer; }
button:focus { border-color: #666; }
input, textarea { border-style: none; }
input, button, select, textarea { font-family: inherit; font-size: inherit; }

/*=======================================*/



@font-face {
  font-family: 'Tormenta20';
  src: url('./font/Tormenta.ttf');
}

:root { 
  font-size: 10px; 

  /* ======== Variaveis ======== */
  --color-font: rgb(23, 23, 23);

  --color-background: rgb(54, 54, 54);
  --color-fill: #00a98a;
  --color-fill-dark: #0c957c;
  --color-stroke: rgb(23, 23, 23);
  --color-input: rgba(0, 0, 0, 0.2);
  --color-alert: rgb(172, 0, 0);
}


