@import "../../global.scss";


%table-columns {
  display: grid;
  grid-template-columns: 40% 10% 10% 20% 10% 10%;
  justify-content: center;
}

.container_skills {
  width: 100%;
  height: auto;
  position: relative;

  margin-top: 5.5rem;
  z-index: 1;
  
  border-left: $color-stroke 3px solid;
  border-right: $color-stroke 3px solid;
  background-color: $color-fill;

  &::before {
    content: '';
    width: 100%;
    height: 1rem;
    position: relative;
    display: block;
    background-color: $color-fill;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1rem;
    position: relative;
    display: block;
    background-color: $color-fill;
  }

  .table_skills {
    //width: 96%;
    position: relative;

    margin: -4.5rem 2% 2rem 2%;

    display: grid;
    grid-template-columns: 96%;
    justify-content: center;


    thead, tbody { display: inherit; }

    thead tr  { 
      @extend %table-columns;
    }

    /*th:first-child {
      font-size: 1.8rem;
      text-transform: uppercase;
      width: 35%;
      min-width: 30%;
    }*/

  }

  .table_footer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;

    position: absolute;
    bottom: 0%;

    font-size: 1rem;
    z-index: 1;

    p {
      width: 100%;

      &:first-child {
        text-align: right;
      }
    }
  }

}

/*
@import "../../global.scss";

.container_skills {
  width: 100%;
  height: auto;
  position: relative;

  margin-top: 5.5rem;
  z-index: 1;
  
  border-left: $color-stroke 3px solid;
  border-right: $color-stroke 3px solid;
  background-color: $color-fill;

  &::before {
    content: '';
    width: 100%;
    height: 1rem;
    position: relative;
    display: block;
    background-color: $color-fill;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1rem;
    position: relative;
    display: block;
    background-color: $color-fill;
  }

  .table_skills {
    width: 96%;
    position: relative;

    margin: -4.5rem 2% 2rem 2%;
    border-collapse: collapse;

    tr { height: 3rem; }
    th { 
      max-width: 12%; 
      min-width: 12%;
      font-size: 1.1rem;
      vertical-align: bottom;
    }

    th:first-child {
      font-size: 1.8rem;
      text-transform: uppercase;
      width: 35%;
      min-width: 30%;
    }

  }

  .table_footer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;

    position: absolute;
    bottom: 0%;

    font-size: 1rem;
    z-index: 1;

    p {
      width: 100%;

      &:first-child {
        text-align: right;
      }
    }
  }

}
*/
