@import "../../global.scss";

.container_skills {
  width: 100%;
  height: auto;
  position: relative;

  margin-top: 5.5rem;
  z-index: 1;
  
  border-left: $color-stroke 3px solid;
  border-right: $color-stroke 3px solid;
  background-color: $color-fill;

  &::before {
    content: '';
    width: 100%;
    height: 1rem;
    position: relative;
    display: block;
    background-color: $color-fill;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1rem;
    position: relative;
    display: block;
    background-color: $color-fill;
  }

  .table_skills {
    position: relative;
    margin: -4.5rem 2% 2rem 2%;

    display: grid;
    justify-content: center;


    thead { 
      margin-bottom: .5rem;
      font-size: .9rem;
    }
    thead, tbody { 
      display: inherit;
      grid-auto-rows: 3.1rem; 
    }

    thead tr  { 
      @extend %table-columns;
      justify-items: center;
      align-items: flex-end;

      th:first-child {
        font-size: 2.5rem;
        justify-self: left;
        padding-left: 1rem;
      }
      th:nth-child(2) {
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }

  }

  .table_footer {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;

    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 13px;
    z-index: 1;

    p {
      width: 100%;

      &:first-child {
        text-align: right;
      }
    }
  }

}
