.container_attack_box {
  position: relative;
  width: 100%;
  height: 18rem;

  margin-bottom: 1rem;

  z-index: 1;

  .table_attack {
    width: 100%;
    height: 100%;
    padding: 1rem;

    tr { height: 16%; }
    th { width: 14%; }

    th:first-child {
      font-size: 1.2rem;
      text-transform: uppercase;
      width: 30%;
    }

    .txt_input { font-size: 1.3rem; }
    
  }

}