.container_txt {
  :global(.side_edge) {
    position: absolute;
    height: 100%;
    top: 50%;      
  }
  :global(.side_edge.-left) {
    left: .5%;
    transform: translateY(-50%) translateX(-100%);
  }
  :global(.side_edge.-right) {
    right: .5%;
    transform: translateY(-50%) translateX(100%);
  }

  :global(.side_edge > path)  {
    fill:#00A1C6;
    stroke:#000000;
  }
}
