@import "../../global.scss";

.container_txt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;
  height: 3.2rem;

  background-color: $color-fill;

  &.-race { width: 17%; }
  &.-origin { width: 25%; }
  &.-class-level { width: 33%; }
  &.-divinity { width: 17%; }

  &.-class-level {
    display: grid;
    grid-template-columns: 80% 20%;
    #class-level {
      width: 97%;
    }
    .txt_input.-level {
      width: 100%;
      height: 80%;
      padding: .5rem;
      font-size: 2vw;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #000;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #000;
  }

  .txt_input.-default {
    width: 95%;
    height: 80%;

    padding: .5rem;
    font-size: 2rem;

  }
  .txt_label.-default {
    position: absolute;
    bottom: -.1rem;
    left: -3%;
    transform: translateY(100%);

    font-size: 1.2rem;
    text-transform: uppercase;
    
    position: absolute;
    margin-left: .5rem;

    //font-size: clamp(1.1rem, 1.5vw, 1.4rem);
    text-transform: uppercase;  

    &.-player {
      bottom: 145%;
    }
  }


}