.container_health_mana {

  position: relative;
  width: 90%;
  height: 8rem;

  justify-self: center;

  &.-health {
    grid-area: points_health;
    margin: .5rem 0;
  }
  &.-mana {
    grid-area: points_mana;
    margin-bottom: 1rem;
  }

  .container_max_points {
    width: 20%;
    height: 52%;
    position: absolute;
    top: 1.5rem;
    left: 1.6rem;
  }

  .container_historic {
    width: 60%;
    height: 45%;
    position: absolute;
    top: 28%;
    left: 34%;
  }

  .title {
    width: 9.5rem;
    position: absolute;
    right: 27%;
    top: .4rem;

    font-family: Tormenta20, Arial, sans-serif;
    text-align: center;
  }

  .text_box1 {
    position: absolute;
    right: 76.5%;
    bottom: .9rem;

    font-size: .8rem;
  }

  .text_box2 {
    position: absolute;
    right: 43%;
    bottom: .9rem;

    font-size: .8rem;
  }

}