
@import "../../global.scss";
  
:global(.container_health_mana > svg) {
  width: 100%;
  height: 100%;
}

:global(.container_health_mana > svg path, .container_health_mana > svg polygon)  {
  fill: $color-fill;
  stroke:$color-stroke;
  stroke-width: 1px;
}

