
@import "../../global.scss";
  
:global(.container_health_mana .points_box) {
  width: 100%;
  height: 100%;
}

:global(.points_box path, .points_box polygon)  {
  fill: $color-fill;
  stroke:$color-stroke;
}

