

// ====== Colors ======
$color-fill: #00a98a;
$color-stroke: #000000;


// ====== Mixins ======

@mixin svg-default {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}


// ====== Global ======
:global(.txt_label) {
  text-align: center;
}
:global(.txt_input) {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.8rem;
}



