

// ====== Colors ======
$color-fill: #00a98a;
$color-stroke: #000000;


// ====== Mixins ======

@mixin svg-default {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}




