

// ====== Colors ======
$color-background: #adacad;
$color-fill: #00a98a;
$color-fill-dark: #0c957c;
$color-stroke: #000000;
$color-input: rgba(0, 0, 0, 0.2);


// ====== Placeholder ======

%svg-default {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}


// ====== Global ======
:global(.txt_label) {
  text-align: center;
}




