@import "./global.scss";

:global(.container-icon svg) {
  @extend %svg-default;
}

:global(.container-icon .icon svg path)  {
  stroke: $color-icon;
  stroke-width:1;
}

:global(.container-icon .icon svg) {
  z-index: 200;
}

